{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta_page %}
    <meta name="robots" content="noindex">
{% endblock meta_page %}
{% block title %}{% trans 'Reset Password' %}{% endblock title %}

{% block content %}
<section class="change-password">
    <div class="my-container">
        {% if validlink %}
        <p class="change-password-title">{% trans 'Reset Password' %}</p>
        <p class="change-password-text">{% trans 'Please enter your password twice' %}</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <p class="change-password-btn-input">
                <input type="submit" value="{% trans 'Change My Password' %}">
            </p>
        </form>
        {% else %}
        <p class="change-password-title">{% trans 'Invalid link' %}</p>
        <p>
            {% trans 'The Password reset link was invalid.' %}
            {% trans 'Possibly because it has already been used. Please request a new password reset request.' %}
        </p>
        {% endif %}
    </div>
</section>
{% endblock content %}