{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta_page %}
    <meta name="robots" content="noindex">
{% endblock meta_page %}

{% block title %}{% trans 'Reset Your password' %}{% endblock title %}

{% block content %}
<section class="forgotten-password">
    <div class="my-container">
        <p class="forgotten-password-title">{% trans 'Forgotten Your Password' %}?</p>
        <p class="forgotten-password-text">{% trans 'Enter your e-mail address to obtain a new password' %}</p>
        <form action="" method="post" class="forgotten-password-form">
            {% csrf_token %}
            {{ form.email }}
            <p class="forgotten-password-btn-input">
                <input type="submit" value="{% trans 'Change My Password' %}">
            </p>
        </form>
    </div>
</section>
{% endblock content %}