{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta_page %}
    <meta name="robots" content="noindex">
{% endblock meta_page %}

{% block title %}{% trans 'Password is set' %}{% endblock title %}

{% block content %}
<section class="password-set">
    <div class="my-container">
        <h2 class="password-set-title">{% trans 'Password is set' %}</h2>
        <p class="password-set-text">
            {% trans 'Your Password has been set. go to' %}
            <a href="{% url 'main_apps:index' %}">{% trans 'Main' %}</a></p>
    </div>
</section>

{% endblock content %}