{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta_page %}
    <meta name="robots" content="noindex">
{% endblock meta_page %}
{% block title %}{% trans 'Reset Your Password' %}{% endblock title %}

{% block content %}
<section class="reset-password-done">
    <div class="my-container">
        <h2 class="reset-password-done-title">{% trans 'Reset Your Password' %}</h2>
        <p class="reset-password-done-text">
            {% trans "We've emailed you instructions for setting your password." %}
        </p>
        <p class="reset-password-done-text">
            {% trans "If don't receive an email, please make sure you've entered the correct email address." %}
        </p>
    </div>
</section>

{% endblock content %}