{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<p>
    {% trans 'Вы получили это сообщение в связи с тем, что был сделан запрос на сброс пароля для Вашего аккаунта!' %}
    {{ email }}
</p>
<p>
    {% trans 'Перейдите по ссылке, чтобы подтвердить сброс пароля' %}:
    <a href="{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}">
        {% trans 'Использовать ссылку' %}
    </a>
    <p>{% trans 'Если Вы не запрашивали сброс пароля, то просто проигнорируйте это письмо.' %}</p>
</p>
</body>
</html>


