{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta_page %}
    <meta name="robots" content="noindex">
{% endblock meta_page %}
{% block title %}{% trans 'Отчёты' %}{% endblock title %}

{% block content %}
<section class="vulnerabilities">
    <div class="my-container">
        <div class="vulnerabilities-block">
            <div class="vulnerabilities-block-header">
                <p class="vulnerabilities-title">{% trans 'Отчёты' %}</p>
            </div>
            {% if vulnerabilities %}

            <div class="vulnerabilities-block-inner-table">
                <table class="table vulnerabilities-block-table">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">{% trans 'Название' %}</th>
                        <th scope="col">{% trans 'Организация' %}</th>
                        <th scope="col">{% trans 'Пользователь' %}</th>
                        <th scope="col">{% trans 'Действия' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vulnerabilitie in vulnerabilities %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ vulnerabilitie.name }}</td>
                        <td>{{ vulnerabilitie.organization }}</td>
                        <td>
                            {% if vulnerabilitie.user is not None %}
                                {{ vulnerabilitie.user.username }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        {% if vulnerabilitie.file %}
                        <td class="vulnerabilities-btn-td">
                            <a class="main-btn vulnerabilities-download" href="{{ vulnerabilitie.file.url }}"
                               download>{% trans 'Скачать файл' %}</a>
                        </td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="vulnerabilities-text-none">{% trans 'У вас нет уведомлений' %}</div>
            </div>
        </div>
        {% endif %}

    </div>
</section>
{% endblock content %}