/*input[type=file] {*/
/*    */
/*}*/

input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
  }

input[type=file]::before {
    width: 120px;
    content: 'Выбрать файл';
    display: inline-block;
    background: var(--button-bg);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 6px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 300;
    color: #fff;
    font-size: 15px;
    font-family: Helvetica, "sans-serif";
}

input[type=file]:hover::before {
border-color: black;
}

input[type=file]:active::before {
background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#button5585 {
    background: #b00000;
    /*border: 1px solid #999;*/
    border-radius: 5px;
    padding: 6px 7px;
    cursor: pointer;
    font-weight: 300;
    color: #fff;
    font-size: 15px;
    font-family: Helvetica, "sans-serif";
    text-decoration: none;
}
#button5585:hover{
    background: #700000;
}
#button5585:active::before{
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    text-decoration: none;
}


#button_message_5585 {
    background: #05ae00;
    /*border: 1px solid #999;*/
    border-radius: 5px;
    padding: 6px 7px;
    cursor: pointer;
    font-weight: 300;
    color: #fff;
    font-size: 15px;
    font-family: Helvetica, "sans-serif";
    text-decoration: none;
}
#button_message_5585:hover{
    background: #057200;
}
#button_message_5585:active::before{
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    text-decoration: none;
}

#button_message_update_info {
    background: #d9de00;
    /*border: 1px solid #999;*/
    border-radius: 5px;
    padding: 6px 7px;
    cursor: pointer;
    font-weight: 300;
    color: #fff;
    font-size: 15px;
    font-family: Helvetica, "sans-serif";
    text-decoration: none;
}

#button_message_update_info:hover{
    background: #5e6300;
}

#button_message_update_info:active::before{
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    text-decoration: none;
}
/*.clearable-file-input {*/
/*    display: none !important;*/
/*}*/
#gallery_news-0-file_news-clear_id {
    display: none !important;
}
#gallery_trainings-0-file_trainings-clear_id {
    display: none !important;
}

.module #gallery_news-0 .clearable-file-input label {
    display: none !important;
}

.module #gallery_trainings-0 .clearable-file-input label {
    display: none !important;
}
/*.note_file_format {*/
/*    color: darkred;*/
/*}*/
