{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "График" %} {% endblock %}

{% block content %}
<div class="one-content chart-content">
    <div class="my-chart">
        <canvas id="myChart"></canvas>
    </div>

    <div class="chart-data">
        <div class="organs">
        </div>
        <div class="reports-data">
            <div class="reports-chart-block">
                <strong>Отчёты: </strong><span></span>
            </div>
            <div class="reports-chart-block">
                <strong>Выполенные: </strong><span></span>
            </div>
        </div>
    </div>

    <script src="{% static 'js/modules/charts.js' %}"></script>
</div>
{% endblock %}
