{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "График" %} {% endblock %}

{% block content %}
<div class="one-content chart-content">
    <div class="my-chart">
        <canvas id="myChart"></canvas>
    </div>

    <div class="chart-data">
        <div class="organs">
        </div>
        <div class="reports-data">
            <div class="reports-chart-block">
                <strong>Отчёты: </strong><span></span>
            </div>
            <div class="reports-chart-block">
                <strong>Выполенные: </strong><span></span>
            </div>
        </div>
    </div>

    <script>

window.onload = function() {
    localStorage.clear(); // Очищает весь localStorage
    console.log('clear localstorage');
};

async function getData(url) {
    try {
        const response = await fetch(url);
        if (!response.ok) {
            throw new Error(`Ошибка HTTP: ${response.status}`);
        }
        return await response.json(); // Если ожидаем JSON
    } catch (error) {
        console.error("Ошибка запроса:", error);
        return null; // Чтобы избежать ошибок, если запрос не удался
    }
}

async function fetchData() {
    const url = `${window.location.origin}/${window.location.pathname.split('/')[1]}/chart_data/`;
    const data = await getData(url);
    localStorage.setItem(`data`, data); // Сохраняем выбор
    const organizations_list = data.org_list;
    const list_items = data.result;

    if (!list_items) return; // Если ошибка при получении данных

    const months = [];
    const org_list = {};
    const orgDiv = document.querySelector(".organs");

    let index = 0;
    for (const month of Object.keys(list_items)) {
        months.push(getMonthName(month));
        for (const report of list_items[month]) {
            const org_name = report[1]; // name организации

            if (!org_list[org_name]) {
                org_list[org_name] = { allReports: [], doneReports: [] };
            }

            if (org_list[org_name].allReports.length !== index + 1) {
                org_list[org_name].allReports.push(0);
                org_list[org_name].doneReports.push(0);
            }

            org_list[org_name].allReports[index] += report[2];   // count организации
            if (report[0] === 4) {
                org_list[org_name].doneReports[index] += report[2];
            }
        }
        index++;
    }

    for (const org_id_name of organizations_list) {
        const btn = document.createElement("button");
        btn.innerText = org_id_name.name;
        btn.classList.add("main-btn");

        orgDiv.appendChild(btn);

        btn.addEventListener("click", () => changeChart(org_id_name.name));
    }

    const reportBlocks = document.querySelectorAll(".reports-chart-block");
    const allReports = reportBlocks[0].querySelector("span");
    const doneReports = reportBlocks[1].querySelector("span");

    const ctx = document.getElementById("myChart").getContext("2d");
    const myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: months,
            datasets: [
                {
                    label: "Отчеты (шт)",
                    data: [],
                    borderColor: "blue",
                    backgroundColor: "rgba(0, 0, 255, 0.2)",
                    fill: true,
                    tension: 0.4
                },
                {
                    label: "Расходы ($K)",
                    data: [],
                    borderColor: "red",
                    backgroundColor: "rgba(255, 0, 0, 0.2)",
                    fill: true,
                    tension: 0.4
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    });

    await changeChart(Object.keys(org_list)[0]);

    async function changeChart(org_name) {
        myChart.data.datasets[0].data = org_list[org_name]?.allReports ?? [];
        myChart.data.datasets[1].data = org_list[org_name]?.doneReports ?? [];

        const allReportsChart = org_list[org_name]?.allReports.at(-1) ?? 0;
        allReports.innerText = allReportsChart;
        doneReports.innerText = (org_list[org_name]?.doneReports.at(-1) ?? 0) * 100 / allReportsChart;

        myChart.update();
    }
}

fetchData();

function getMonthName(monthNumber, locale = "ru-RU") {
    return new Intl.DateTimeFormat(locale, { month: "long" }).format(new Date(2024, monthNumber - 1, 1));
}

    </script>
</div>
{% endblock %}
