.loader-wrapper {
    position: fixed; /* Позиционирование относительно родителя */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Прозрачный фон для затемнения */
    z-index: 9999; /* Обеспечивает, что прелоадер будет сверху */
}

.loader {
    border: 4px solid #f3f3f3; /* Светлый фон */
    border-top: 4px solid #3498db; /* Цвет верхней части круга */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Анимация для прелоадера */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}