/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.legislation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.125rem;
}

.legislation__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 48px 0 163px;
}

.legislation-top {
    color: #011D38;
    margin-bottom: 50px;
}

.theme-dark .legislation-top {
    color: #fff;
}

.legislation-top p {
    color: #011D38;
}

.legislation-top p span {
    color: #011D38;
}

.theme-dark .legislation-top p {
    color: #fff;
}

.theme-dark .legislation-top p span {
    color: #fff;
}

.theme-dark .legislation-top {
    color: #fff;
}

.legislation-link {
    text-decoration: none;
    cursor: pointer;
    color: #011D38;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.theme-dark .legislation-link {
    color: #fff;
}

.theme-dark .legislation-link p {
    color: #fff;
}

.theme-dark .legislation-link p span {
    color: #fff;
}

.legislation__title {
    font-weight: 700;
    color: #003467;
    font-size: 2.25rem;
    margin-bottom: 19px;
}

.theme-dark .legislation__title {
    color: #fff;
}

.legislation__text {
    color: #011d38;
    margin: 19px 0 56px 0;
}

.legislation__subtitle {
    font-weight: 400;
    color: #011d38;
    font-size: 1.5rem;
    margin-bottom: 18px;
}

.theme-dark .legislation__subtitle {
    color: #fff;
}

.legislation__subtitle-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
}

.legislation__subtitle-item_img {
    margin-top: 5px;
    margin-right: 13px;
}

.theme-dark .legislation__subtitle-item_img {
    display: none;
}

.theme-dark .legislation__subtitle-item_img.legislation__subtitle-item_img--white {
    display: block!important;
}

.legislation__subtitle-item_text {
    font-weight: 400;
    color: #011d38;
    margin-left: 13px;
}

.page-container {
    max-width: 1280px;
    padding: 0 90px;
    margin: 0 auto;
}

.legislation__inner ul {
    padding: 0;
}

/***********************************************/
@media (max-width: 992px) {
    .page-container {
        width: 100%;
        padding: 0;
    }

    .legislation__inner {
        padding: 50px 0 71px;
    }

    .legislation__title {
        font-size: 1.75rem;
    }

    .legislation__text {
        margin-bottom: 26px;
    }

    .legislation__subtitle {
        margin-bottom: 10px;
    }

    .legislation__subtitle-item_img {
        width: 33.439px;
        height: 27.098px;
        margin-top: 4px;
    }

    .legislation__subtitle-item_text {
        margin-left: 9.56px;
        margin-right: 5px;
    }
}

.cybersecurity {
    font-size: 1.125rem;
}

.cybersecurity__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 47px 0 43px;
}

.cybersecurity__subtitle {
    display: inline-block;
    font-weight: 400;
    color: #EF8422;
    font-size: 1rem;
}

.cybersecurity__title {
    font-weight: 700;
    color: #003467;
    font-size: 1.75rem;
    margin-top: 7px;
    margin-bottom: 22px;
}

.cybersecurity__top-left p {
    color: #011D38;
}

.theme-dark .cybersecurity__top-left p,
.theme-dark .cybersecurity__title,
.theme-dark .cybersecurity__share,
.theme-dark .cybersecurity__top-left p span {
    color: #fff;
}

.cybersecurity__top {
    display: float;
}

.cybersecurity__top-right {
    float: right;
}

.cybersecurity__top-left {
    display: block;
}

.cybersecurity__text {
    font-weight: 400;
    color: #011d38;
    margin-bottom: 20px;
}

.theme-dark .cybersecurity__text {
    color: #fff;
}

.cybersecurity__share {
    font-weight: 700;
    color: #003467;
    margin-bottom: 6px;
    margin-top: 36px;
    font-size: 1.125rem;
}

.cybersecurity__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-container {
    max-width: 1280px;
    padding: 0 90px;
    margin: 0 auto;
}

.cybersecurity__top-left .subtext,
.cybersecurity__bottom-block .subtext {
    margin-bottom: 36px;
}

.cybersecurity__top-right img {
    max-width: 375px;
    /*height: 375px;*/
    max-height: 375px;
    margin-left: 30px;
    -o-object-fit: cover;
       object-fit: cover;
}

.cybersecurity__social a:not(:last-child) {
    margin-right: 15px;
}

.cybersecurity__social a:hover {
    cursor: pointer;
}

.social-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 10px;
}

.telegram {
    background-color: #5ebee1;
}

.twitter {
    background-color: #1da1f2;
}

.whatsapp {
    background-color: #25d366;
}

/**************************************************************/
@media (max-width: 1200px) {
    .page-container {
        padding: 0;
    }

    .cybersecurity__inner {
        /*padding: 50px 19px 83px;*/
    }

    .cybersecurity__subtitle {
        /*display: none;*/
    }

    .cybersecurity__title {
        width: 100%;
        font-size: 1.75rem;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .cybersecurity__text {
        margin-bottom: 20px;
    }

    .cybersecurity__top-left .subtext,
    .cybersecurity__bottom-block .subtext {
        margin-bottom: 22px;
    }

    .cybersecurity__top-right {
        height: 375px;
        margin-bottom: 25px;
    }

    .cybersecurity__top-right img {

    }

    .cybersecurity__share {
        margin-bottom: 8px;
        margin-top: 20px;
    }

    .cybersecurity__social a:not(:last-child) {
        margin-right: 23px;
    }
}

@media (max-width: 920px) {
    .cybersecurity__inner {
        padding: 50px 0 83px 0;
    }

    .cybersecurity__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .cybersecurity__top-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 100%;
        height: auto;
        /*margin: 0 auto;*/
    }

    .cybersecurity__top-right img {
        max-width: 100%!important;
        margin: 0;
    }

    .cybersecurity__title {
        font-size: 1.75rem;
    }
}

.about {
    font-size: 1.125rem;
}

.about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 84px 0 52px;
}

.about__top {
    position: relative;
    display: float;
}

.about__top-left {
    padding-top: 77px;
}

.about__top-right {
    float: right;
    padding-left: 45px;
}

.about__title {
    font-weight: 700;
    color: #003467;
    font-size: 2.25rem;
    margin-bottom: 20px;
}

.about__text {
    font-weight: 400;
    color: #011d38;
    margin-bottom: 0;
}

.about__subtext {
    text-decoration: underline;
    font-style: italic;
}

.about__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 85px;
}

.about__bottom-title {
    font-weight: 600;
    color: #003467;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.about__bottom-list-item {
    font-weight: 400;
    color: #011d38;
}

.page-container {
    max-width: 1280px;
    padding: 0 90px;
    margin: 0 auto;
}

.about__top::after {
    content: "";
    width: 100%;
    height: 3px;
    background: rgba(105, 105, 105, 0.7);
    position: absolute;
    bottom: -40px;
}

.about__text:not(:last-child) {
    padding: 18px 0;
}

.about__text:last-child {
    padding-bottom: 118px;
}

.about__top-right img {
    width: 390px;
    height: auto;
}

.about__text p {
    font-size: 1.125rem;
}

.about__bottom-list-item {
    font-size: 1.125rem;
}

/******************************************************************/
@media (max-width: 1200px) {
    .page-container {
        width: 100%;
        padding: 0;
    }

    .about__inner {
        padding: 50px 0 60px;
    }

    .about__top-right img {
        width: 340px;
        height: 385px;
    }

    .about__top-left {
        padding-right: 60px;
    }
}

@media (max-width: 992px) {
    .page-container {
        width: 100%;
        padding: 0;
    }

    .about__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .about__top-left {
        padding-right: 50px;
    }

    .about__top-right img {
        width: 272px;
        margin: 0 auto;
    }

    .about__top-right {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .page-container {
        padding: 0;
    }

    .about__inner {
        padding: 50px 0 60px;
    }

    .about__top::after {
        height: 1px;
        bottom: -53px;
    }

    .about__top-left {
        padding: 0;
    }

    .about__text:last-child {
        padding-bottom: 0;
    }

    .about__top-right img {
        width: 272px;
        margin: 0 auto;
    }

    .about__bottom {
        padding-top: 90px;
    }

    .about__bottom-title {
        margin-bottom: 13px;
    }

    .about__bottom-list {
        padding-left: 20px;
    }

    .cybersecurity__subtitle {
        margin-bottom: 10px;
    }
}

.legislation-box-svg,
.legislation-box-svg-white {
    margin-right: 13px;
}

.theme-dark .legislation-box-svg {
    display: none;
}

.theme-dark span.legislation-box-svg-white {
    display: block!important;
}

.status-btn {
    border-radius: 5px;
    padding: 4px;
}

.header-btn a {
    text-decoration: none;
    color: inherit;
}

.logo-cert {
    display: flex; /* Размещаем элементы в строку */
    align-items: center; /* Выравниваем по центру */
    justify-content: center; /* Центрируем содержимое */
    gap: 20px; /* Промежуток между элементами */
}

.logo-cert div {
    text-align: center; /* Выравниваем текст по центру */
    max-width: 400px; /* Ограничиваем ширину текста */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: #0c2340; /* Темно-синий цвет текста */
}

.logo-cert img {
    height: 150px; /* Указываем фиксированную высоту логотипа */
}

.logo-cert div:first-child,
.logo-cert div:last-child {
    position: relative;
    padding-bottom: 20px; /* Отступ перед линией */
}

.logo-cert div:first-child::after,
.logo-cert div:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0c2340; /* Темно-синяя линия */
}

.main-title {
    text-align: center; /* Выравнивание по центру */
    max-width: 900px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование блока */
    margin-top: 110px;
    margin-bottom: 60px;
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
    color: #0c2340;
}

.doc-content {
    margin: 15px;
}

.doc-list a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}

.doc-list a:hover {
    color: blue;
}

.doc-content a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}
.doc-content a:hover {
    color: blue;
}

.doc-list {
    margin: 15px;
}