{% load static %}
{% load i18n %}
<div class="banner">
  <div class="banner-wrapper">
    <div class="my-container banner-container">

      <div class="banner-left">
        <h1 class="banner-left__title">{% trans 'Координационный Центр по Обеспечению Кибербезопасности' %}</h1>
        <p class="banner-left__text">
            {% trans 'Государственного комитета национальной безопасности Кыргызской Республики' %}
        </p>
        <button id="captcha-open" class="main-btn report-btn" data-bs-toggle="modal"
                data-bs-target="#reportBackdrop">{% trans 'Сообщить о киберинциденте' %}</button>
<!--        <button id="preReportOpen" class="main-btn report-btn">{% trans 'Сообщить об инциденте' %}</button>-->
      </div>
      <div class="banner-right">
        <img src="{% static '/img/banner.webp' %}" alt="">
      </div>

    </div>
  </div>
</div>
<!--<script>-->
<!--    function viewCaptcha() {-->
<!--        const modalCaptcha = document.getElementById("captcha-container")-->
<!--        modalCaptcha.style.display = block;-->
<!--    }-->
<!--</script>-->